doctype html
head
  title Главная
  link(rel='stylesheet' href='css/index.css')
  link(rel="icon" href="coffeeSign.ico" type="image/x-icon")
body
    .hat Кофе, прекрасный почти как 
        p.hat_p ваши горящие в огне враги
    .rain 
        a(href='pug/rain.html') Попей кофе под дождём...
    .grid_table
        .grid_coffee
            a(href='pug/espresso.html')
                img.sort_coffee(src='img/cardEspresso.jpg')
        .grid_coffee
            a(href='pug/makkiato.html')
                img.sort_coffee(src='img/cardMakkiato.jpg')
        .grid_coffee
            a(href='pug/latte.html')
                img.sort_coffee(src='img/cardLatte.jpg')
        .grid_coffee
            a(href='pug/mokka.html')
                img.sort_coffee(src='img/cardMokka.jpg')
        .grid_coffee
            a(href='pug/americano.html')
                img.sort_coffee(src='img/cardAmericano.jpg')
        .grid_coffee
            a(href='pug/cappuccino.html')
                img.sort_coffee(src='img/cardCappuccino.jpg')

