doctype html
head
  title Американо
  link(rel='stylesheet' href='../css/main.css')
  link(rel="icon" href="../coffeeSign.ico" type="image/x-icon")
body
    .inf
      .heading Горький Американо, как и вся твоя жизнь
      .bodyInf
        img.coffee(src='../img/americano.jpg')
        p
          | Вторая мировая война запомнилась всем огромными жертвами и великой победой. Но для настоящих кофеманов она также стала символом появления такого напитка, как кофе американо. Все дело в том, что во время второй мировой войны в итальянскую кофейню заглянула компания американских солдат. Они попросили порцию кофе в классической «кружке Джо», к которой привыкли у себя на родине. «Что это такое?» — возмущенно воскликнул бармен. И осознав, что солдаты хотят порцию кофе, объем чашки которого составит 220 мл, с пренебрежением добавил порцию эспрессо в горячую воду. «Американо» — с издевкой добавил итальянец, желая задеть за живое неприятных ему иностранцев. Он и подумать не мог, что это название прочно закрепится за данным напитком. А уж то, что он станет популярным видом кофе, не мог представить себе и в страшном сне.
        p
          | Интересным фактом является то, что как уверяют нас баристы, настоящий американо нельзя сварить в кофемашине. Все дело в том, что там он получается за счет увеличения времени экстракции до 50 и более секунд. При таком времени приготовления неизбежно получается кофейный напиток, который будет горчить, и иметь привкус жженого кофе. Более того, он будет содержать в себе вредные вещества, канцерогены и смолы. В случае если вы уменьшите время экстракции до 40 секунд, то у вас и вовсе получится лунго или «длинный эспрессо», как его называют в Италии. Таким образом, получается, что настоящий американо возможно приготовить лишь при непосредственном смешивании кофе и горячей воды вручную.
        p
          | Наверняка в мире найдется огромное множество любителей кофе американо. И даже несмотря на то, что большинство пьют напиток из кофемашины, а, не руководствуясь классической рецептурой, он навсегда останется в сердцах истинных ценителей кофе.
    include bodyMenu.pug