.menu
    .heading
        | Меню
    .index 
        a(href='../index.html') На стенку
    .bodyMenu
        .grid_frame
            a(href='./espresso.html')
                img.wk(src='../img/cardEspresso.jpg')        
        .grid_frame
            a(href='./makkiato.html')
                img.wk(src='../img/cardMakkiato.jpg')        
        .grid_frame
            a(href='./latte.html')
                img.wk(src='../img/cardLatte.jpg')        
        .grid_frame
            a(href='./mokka.html')
                img.wk(src='../img/cardMokka.jpg')        
        .grid_frame
            a(href='./americano.html')
                img.wk(src='../img/cardAmericano.jpg')        
        .grid_frame
            a(href='./cappuccino.html')
                img.wk(src='../img/cardCappuccino.jpg')        
