doctype html
head
  title Эспрессо
  link(rel='stylesheet' href='../css/main.css')
  link(rel="icon" href="../coffeeSign.ico" type="image/x-icon")
body
    .inf
      .heading Эспрессо, а не простой чёрный
      .bodyInf
        img.coffee(src='../img/espresso.jpg')
        p.zirniy
          | - Эспрессо – не «быстрый», а «выдавленный».
        p
          | Часто название напитка произносят как эКспрессо. Но буквы К в этом слове нет. Потому что переводится оно как «выдавленный» (ит.), а не как «быстрый» - экспресс.
        p.bold
          | - Правильный эспрессо можно приготовить только на специальной эспрессо-машине.
        p
          | Для приготовления настоящего эспрессо вода должна равномерно пройти через молотый кофе под давлением 9 атмосфер. Добиться такого эффекта можно только в эспрессо-машине. Иначе у кофе не приобретет характерный вкус, аромат и насыщенность.
        p.bold
          | - Оптимальный объем напитка – 30 мл.
        p
          | Именно столько набегает за время приготовления – 30 секунд. По правилам для подачи используется кружка 60-90 мл. и может показаться, что кофе мало. Но, не стоит портить вкус кофе добавлением воды.
        p.bold
          | - Эспрессо подают со стаканчиком воды.
        p
          | Небольшой стаканчик воды входит в обязательную сервировку эспрессо. Это необходимо для очистки вкусовых рецепторов, чтобы лучше ощутить вкус кофе. Также глоток воды можно сделать после кофе.
        p.bold
          | - Не стоит портить вкус кофе сахаром.
        p
          | Если эспрессо приготовлен правильно, то сочетание легкой горечи, сладости, кислинки и солености будет сбалансировано.
        p
          | Если для вас кофе горьковат, сахара можно добавить на кончике ложки. Так вы ярче почувствуете кислинку во вкусе.
        p.bold
          | - Кофеина в эспрессо столько же, сколько и в капучино.
        p
          | Такие напитки как капучино, латте, американо и мокко готовятся на основе эспрессо, поэтому количество кофеина в них будет одинаковым.
        p.bold
          | - Чашечку эспрессо лучше выпить после завтрака.
        p
          | Именно после, а не до. В эспрессо содержится более 30 органических кислот (яблочная, лимонная, уксусная, кофейная и др.), которые способствуют выделению желудочного сока и улучшению пищеварения. Кроме того эспрессо хорошо бодрит.
        p.bold
          | - Специалисты выделяют в эспрессо до 100 оттенков вкуса и запаха.
        p
          | Зависит это от сорта кофе, места и условий выращивания, обработки, способа приготовления и мастерства бариста (специалиста по приготовлению кофейных напитков).
        p(style='font-style: italic; font-weight: bold')
          | Любите себя и кофе.
    include ./bodyMenu.pug