doctype html
head
  title Латте
  link(rel='stylesheet' href='../css/main.css')
body
    .inf
      .heading Латте - лёгкий и бодрящий, как ведро воды в лицо утром
      .bodyInf
        img.coffee(src='../img/latte.jpeg')
        p
          |ЛАтте или ЛаттЕ?
        p
          |Удивительно, сколько споров вызывает вопрос, как правильно ставить ударение в названии кофейного напитка. Наверное, скоро они превзойдут даже обсуждения слов торты и договор. А ведь всего то и нужно обратиться к первоисточнику, а именно к итальянскому языку. Таким образом, нам сразу станет понятно, что в слове латте ударение всегда ставится на первый слог. Однако в нашей стране все большее количество людей произносят название напитка с ударением на последний слог. Возможно, это связанно с тем, что они проводят аналогию с мексиканским чаем матэ, ударение в котором ставится на последний слог. Но в любом случае, если вы не хотите выглядеть необразованным человеком, лучше произносить название кофе правильно, а не равняться на большинство.
        p
          |Что такое кофе-латте?
        p
          |Заказывая кофе-латте в кафе или ресторане, мало кто из посетителей знает о том, что настоящее название этого трехслойного напитка звучит более сложно – латте макиато (ит. Latte macchiato), что в переводе с итальянского обозначает «запятнанное молоко». В кофейной терминологии под этим названием понимают слоистый коктейль, состоящий из готового кофе эспрессо, горячего молока и небольшого количества молочной пены. На одну часть кофе требуется три части вспененного молока.
          |Первоначально латте готовился для детей, чтобы у них появилась возможность пить кофе наравне со взрослыми, при этом снизить возбудительный эффект кофеина. Сегодня напиток очень популярен в Центральной и Западной Европе среди всех слоев населения и является культовым коктейлем, визитной карточкой яппи – молодых людей деловой части городского населения.
    include bodyMenu.pug