doctype html
head
  title Мокка
  link(rel='stylesheet' href='../css/main.css')
body
    .inf
      .heading Мокка - сладкий, как твои воспомниания о первой сданной сессии
      .bodyInf
        img.coffee(src='../img/mokka.jpeg')
        p
          | Мокко – особый сорт кофейных зерен с шоколадным привкусом и одновременно старинный рецепт приготовления кофе, существующий в разных вариантах. И у сорта, и у рецепта много легенд, почитателей, экспериментаторов.
        p
          | Своим именем Мокко обязан названию города Моха в Йемене. Сегодня это порт Эль-Муха в Красном море. Легенды, возникшие в 17 веке гласят, что в эпоху расцвета массово расширились кофейные плантации и маленькая деревушка стала известна Европе как город Мокко.
        p
          | Настоящее кофейное чудо произошло благодаря шейху Шадди. Он начал садить кофейные зерна на всех свободных местностях. Скалы, поля, террасы, горы вокруг Мохи были полностью засажены кофе, и с тех пор этот край окончательно завоевал статус кофейной провинции. Когда великого правителя не стало, в воздвигнутой мечети на его честь начали в молитвах поминать имя Шадди как человека, вдохновившего людей варить и пить особенный кофе.
    include bodyMenu.pug